
/* Colors */
:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Outfit ;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    /* Weights: 400, 600, 700 */
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--stone-100);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit, sans-serif;

}

main {
    background-color: var(--white);
    max-width: 690px;
    padding: 2em;
    margin: 1.5em 0;
    border-radius: 15px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

hr {
    margin: 1.8em 0;
}


/* Typography */

h1, h2{
    font-family: "Young Serif", serif;
}

h1 {
    font-weight: 400;
    color: var(--stone-900);
    margin: 0.7em 0;
}

p {
    color: var(--stone-600);
    font-size: 16px;
    margin-bottom: 2em;
}


h2 {
    color: var(--brown-800);
    font-weight: 400;
}

li {
    color: var(--stone-600);
}

b {
 color: var(--stone-600);
}

img {
    width: 100%;
    border-radius: 10px;
}


li {
    list-style-position: inside;
    padding: 0.5em 0;
    margin-left: 0.2em;
}

li::marker {
    color: var(--brown-800);
}

ol li::marker {
    font-weight: bold;
}

.wrapper {
    margin: 1em;
    animation: slideRight 1s;
}

@keyframes slideRight {
    from {transform: translate(-100%);}
}



/* Preparation */


.preparation {
    background-color: var(--rose-50);
    padding: 1.3em;
    margin: 1em 0;
    border-radius: 10px;
}

.preparation h2 {
    color: var(--rose-800);
    font-family: Outfit, sans-serif;
    font-size: 18px;
    font-weight: 700 !important;
}




.preparation li::marker {
    color: var(--rose-800);
}

li b {
    margin-left: 0.7em;
}




/* Ingredients */

.ingredients {
 margin-top: .8em 0;
}

.ingredients li {
    list-style-position: inside;
    margin-left: 0.2em;
    padding: 0.5em 0;
}

/* Instructions */


.instructions {
    margin: 1em 0;
}


.instructions li {
    list-style-position: outside;
    margin: 1em 0;
    padding: 0px;
    text-indent: -1em;
    margin-left: 1em;
}

.instructions b {
    margin-left: 1em;
}

.instructions h2 {
    margin-bottom: 0.5em;
}

/* Nutrition */

table {
    width: 100%;
    margin-top: 1em;
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid;
    text-align: left;
    padding: 1em 2em;
}


table, tr:last-of-type th, tr:last-of-type td {
    border: none;
}

table caption, table th {
    color: var(--stone-600);
    font-weight: 400;
}

table td {
    font-weight: bold;
    color: var(--brown-800);
}

table caption {
    text-align: left;
    margin-bottom: 0.5em;
}

table th {
    padding-left: 3.5em;
}












